@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.form {
  flex: 1;
  border-bottom: none;
  width: 100%;
  padding: 2rem;

  @include tablet {
    border-bottom: 2px solid $text-color;
  }

  &__input {
    margin: 2rem 0;
    border-radius: 1.5rem;
    width: 100%;
    color: $secondary-color;
    :hover {
    }
    &::placeholder {
      color: $secondary-color;
      opacity: 50%;
      font-style: italic;
    }
    &--description {
      padding: 1rem 1rem 10rem 1rem;
      color: $secondary-color;
      font-size: 1.2rem;
    }
    &--check {
      color: red;
    }
  }
  &__tablet {
    display: flex;
    justify-content: center;
    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }
  &__button--upload {
    @include button;
    padding: 1rem 0;
    @include tablet {
      display: none;
    }
  }
  &__button--right {
    display: none;
    @include tablet {
      display: inline-block;
      width: 219px;
      margin-left: 4rem;
    }
  }
  &__cancel {
    text-decoration: none;
    color: $hover-color;
    margin-top: 1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    @include tablet {
      margin-top: 1.5rem;
    }
  }
  &__title {
    font-weight: 600;
    color: $secondary-color;
    margin: 1.5rem 0 0 0;
  }
}

.post__upload {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include tablet {
    width: 100%;
    border-top: 2px solid $secondary-color;
    padding: 1em;
    margin: 0 -1em;
  }

  &--title {
    font-size: 2rem;
    font-weight: 700;
    text-align: left;
    padding: 2rem 0;

    @include tablet {
      border-bottom: 2px solid $secondary-color;
    }
  }

  &--thumbnail {
    font-size: 1rem;
    font-weight: 600;
    text-align: left;
    padding: 0;
    margin: 0 0 1px;

    @include tablet {
      margin-top: 2rem;
    }
  }

  &--main {
    @include tablet {
      width: 50%;
    }
  }
}
