@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

body {
  font-size: 100%;
  background-color: $primary-color;
}

.container {
  font-family: $primary-font;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.profile-card {
  @include card;
  height: 60vh;
}

.pet-photo {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.pet-name {
  font-size: 2em;
  color: $text-color;
}

.pet-bio {
  color: #555;
  font-size: 0.9em;
}

.icons {
  margin-top: 15px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  .chat-icon,
  .add-icon {
    font-size: 1.5em;
    margin: 0 10px;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: $secondary-color;
    }
  }
}
