// Breakpoints variables
$breakpoint-tablet: 48rem;
$breakpoint-desktop: 80rem;

//Colors variables
$primary-color: #f5f5dc;
$secondary-color: #ff6f61;
$hover-color: #a8d5ba;
$text-color: #6f4c3e;

//font weight
$primary-font: "Good Boy", sans-serif;
$primary-font-fontface: "Good Boy";
$font-weight-semi-bold600: 600;
$font-weight-regular400: 400;
