// Breakpoints variables
$breakpoint-tablet: 48rem;
$breakpoint-desktop: 80rem;

//Colors variables
$primary-color: #f5f5dc;
$secondary-color: #ff6f61;
$hover-color: #a8d5ba;
$text-color: #6f4c3e;

//fonts
$primary-font: "Ubuntu", sans-serif;
$primary-font-fontface: "Ubuntu";
$font-weight-light100: 100;
$font-weight-regular300: 300;
$font-weight-semi-bold400: 400;
$font-weight-bold700: 700;

$secondary-font: "Kitty Paw", sans-serif;
$secondary-font-fontface: "Kitty Paw";
$font-weight-semi-bold600: 600;
$font-weight-regular400: 400;
