@use "../../styles//partials//mixins" as *;
@use "../../styles/partials/variables" as *;

.users {
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(31.25rem, 1fr));
    gap: 30px 15px;
    width: 100%;
    margin-top: 20px;
  }
}
.friends {
  margin-top: 6rem;
  &__search {
    background-image: url("../../assets/images/icons/action/search-24px.svg");
    @include reset-field;
    @include form-field;
    margin-left: 2rem;

    &:hover {
      cursor: text;
    }
  }
  &__sort {
    margin-left: 1rem;
    padding: 0.55rem 1rem;
    border: 1px solid $secondary-color;
    border-radius: 1.25rem;
    background-color: $primary-color;
    color: $text-color;
    cursor: pointer;
    font-family: $primary-font;

    &:hover {
      border-color: $primary-color;
    }
    &:active,
    &:focus {
      border: 0.0625rem solid $hover-color;
      outline: none;
    }
  }
}
