@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

$post-card-size: 500px;
$gap: 15px;

.post {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &__edit {
    align-self: flex-end;
    margin-bottom: 1.5rem;
    &:hover {
      transform: scale(1.2);
    }
  }

  &__card {
    @include card;
  }

  &__photo {
    width: 32rem;
    height: 30rem;
    object-fit: cover;
  }

  &__icons {
    position: relative;
    top: 1rem;
    left: 10px;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__icon {
    color: #ff6f61;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: #ff4081;
      transform: scale(1.05);
    }
  }

  &__description {
    font-size: 14px;
    margin: 10px;
    padding-top: 1.5rem;
  }

  &__time {
    font-size: 12px;
    color: #999;
    margin: 0 10px 10px;
  }
}
