@use "./styles/partials/typography" as *;
@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

.main {
  min-height: 70vh;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: $text-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $primary-color;
}

.App-link {
  color: $secondary-color;
}

.mainContainer {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  font-size: 64px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
}

.titleContainer .title2 {
  font-size: 32px;
  font-weight: bolder;
}

.resultContainer,
.historyItem {
  flex-direction: row;
  display: flex;
  width: 320px;
  align-items: center;
  justify-content: space-between;
}

.historyContainer {
  flex-direction: column;
  display: flex;
  height: 200px;
  align-items: center;
  flex-grow: 5;
  justify-content: flex-start;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 16.25rem;
}

.inputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.inputContainer > .errorLabel {
  color: red;
  font-size: 12px;
}

.loginErrorLabel {
  display: flex;
  flex-direction: row;
  color: red;
  font-size: 16px;
}

.signupMessageLabel {
  display: flex;
  flex-direction: row;
  color: green;
  font-size: 16px;
}

.inputBox {
  height: 48px;
  width: 400px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid $text-color;
}

.eye-icon {
  position: absolute;
  font-size: 1.25rem;
  cursor: pointer;
  top: 0.75rem;
  right: 0.75rem;
}

.friendsList {
  display: block;
  width: 300px;
  height: 100%;
  background: $primary-color;
  list-style-type: none;
}

.friend {
  width: 400px;
  height: 60px;
  background: $primary-color;
  border-bottom: 1px solid $primary-color;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.friend img {
  width: 45px;
  height: 45px;
  border-radius: 30px;
  border: 2px solid $primary-color;
  object-fit: cover;
}

.friend .name {
  font-size: 18px;
}

.friends-list {
  overflow: auto;
}

.friend .selected img {
  border-color: $primary-color;
}

.friend:not(.selected):hover {
  background: $hover-color;
  color: $primary-color;
}

/*index.css stuff*/
html,
body {
  font-family: $primary-font;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type="button"] {
  @include button;
}
